* {
  box-sizing: border-box;
  width: 100%;
}

body {
  background: #919183;
  position:relative;
}

main {
  background: #fefefe;
  padding:8px;
  margin: 16px 0;
}

/*************************************
Typography
*************************************/

h1,
h2 {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 4.8rem;
  margin-top: 16px;
  text-align: center;
}


/*************************************
 Form elements 
 *************************************/

label {
  line-height: 32px;
  display: inline-block;
}

select {
  border: 1px solid black;
  height: 16px;
  line-height: 32px;
  height: 32px;
  display: inline-block;
}

button {
  display: inline-block;
  padding: 0 16px;
  line-height: 32px;
  height: 32px;
  color: #dedede;
  background: #666;
}