body {
  margin: auto;
}

section {
  float: left;
  text-align: center;
}

section {
  height: 320px;
}

img {
  object-fit: cover;
  height: 250px;
}

footer {
  clear: both;
}


@media (min-width: 767px) {
  body {
    width: 960px;
    margin: auto;
  }
  section {
    height: 310px;
    width: 310px;
    margin: 5px
  }
}
